<h1 class="text-center" *ngIf="products.length > 0">Products</h1>
<h1 class="text-center" *ngIf="products.length == 0">There are no Products</h1>
<div class="createContainer"><button class="btn btn-success" (click)="showProductModal()">Create Product</button></div>
<div *ngIf="products.length > 0">
    <table border="solid">
        <thead>
            <th>Item Name</th>
            <th>Manufacturer</th>
            <th>Style</th>
            <th>Purchase Price</th>
            <th>Sale Price</th>
            <th>Quantity On Hand</th>
            <th>Commission Percentage</th>
        </thead>
        <tbody *ngFor="let product of products">
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.manufacturer}}</td>
                <td>{{product.style}}</td>
                <td>${{product.purchasePrice}}</td>
                <td style="color: green;">${{product.salePrice}}</td>
                <td>{{product.quantityOnHand}}</td>
                <td>{{product.commissionPercentage}}%</td>
                <td class="text-center"><button class="btn btn-info mr-2" (click)="updateProductModal(product)">Edit</button></td>
            </tr>
        </tbody>
    </table>
</div>