<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
      <a class="navbar-brand" routerLink='/'>BeSpoked Bike Shop</a>

        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <ng-container>
            <li class="nav-item">
              <a class="nav-link" routerLink='/customers'>Customers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/products'>Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/sales'>Sales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/salespeople'>Sales People</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/discounts'>Discounts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/reports'>Reports</a>
            </li>
          </ng-container>
        </ul>
    </div>
  </nav>
