<h1 class="text-center" *ngIf="customers.length > 0">Customers</h1>
<h1 class="text-center" *ngIf="customers.length == 0">There are no customers</h1>
<div class="createContainer"><button class="btn btn-success" (click)="createCustomerModal()">Create Customer</button></div>
<div *ngIf="customers.length > 0">
    <table border="solid">
        <thead>
            <th>Full Name</th>
            <th>Address</th>
            <th>Phone Number</th>
        </thead>
        <tbody *ngFor="let customer of customers">
            <tr>
                <td>{{customer.fullName}}</td>
                <td>{{customer.address}}</td>
                <td>{{customer.phone}}</td>
                <td class="text-center"><button class="btn btn-info mr-2">Edit</button></td>
            </tr>
        </tbody>
    </table>
</div>